extends layout 

block content
    main 
        div.header
            h1= piece.name
            p by #[a(href= piece.painter.url) #{piece.painter.name}]
            hr 
        div.detail-container
            div.left
                img.main-img(src=piece.image)
            div.right
                h2 About 
                p= htmlDecode(piece.description) 
                h3 Categories
                ul 
                    each category in piece.categories 
                        li
                            a(href=category.url) #{category.name}
                h3 Copies 
                ul 
                    each instance in piece.instances
                        li 
                            a(href=instance.url) #{instance._id}
                form(action='/inventory/piece_instance/create' method='GET')
                    input(type='hidden' name='piece' value=piece._id)
                    button.fake-link(type='submit') Create new instance (copy)
                a(href=piece.url+'/update') Update piece
                div.spacer
                a(href=piece.url+'/delete') Delete piece

                





            

