extends layout 

block content
    main 
        div.header
            h1= category.name
            p Categorized by our team of art connoisseurs
            hr
        div.detail-container
            div.left
                img.main-img(src=img)
            div.right
                h2 About
                p= htmlDecode(category.description)
                h3 Art Pieces
                ul 
                    each painting in paintings
                        li
                            a(href=painting.url) #{painting.name}

                div.spacer
                a(href=category.url+'/update') Update category
                div.spacer
                a(href=category.url+'/delete') Delete category
                
