extends layout 

block content
    main 
        div.header
            h1= painter.name
            p= painter.lifespan
            hr 
        div.detail-container
            div.left
                img.main-img(src=painter.img)
            div.right
                h2 About
                p= painter.description
                h3 Works
                ul 
                    each painting in paintings
                        li
                            a(href=painting.url) #{painting.name}
                
