extends layout 

block content
    main 
        div.header
            h1= painter.name
            p= painter.lifespan
            hr 
        div.detail-container
            div.left
                img.main-img(src=painter.img)
            div.right
                h2 About
                p= htmlDecode(painter.description)
                h3 Works
                ul 
                    each painting in paintings
                        li
                            a(href='/inventory/painter/'+painter._id) #{painting.name}
                div.spacer
                a(href='/inventory/painter/'+ painter._id + '/update') Update painter
                div.spacer
                a(href='/inventory/painter/'+ painter._id + '/delete') Delete painter

                
